html {
  background-color: white;
  padding-left: -20%;
  /* width:min-content; */
}

.App-header {
  background-color: white;
  min-height: 6vh;
  display: block;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: transparent;
  width: 100%;
  margin-top: -0.5em;
  overflow: hidden;
}

.brand-logo {
  height: 80px;
  align-self: center;
  width: 80px;
  margin: 0.5em 0em 0em 1em;
  ;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px -7px white;
}

.welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 70px;
  font-style: italic;
  font-stretch: extra-expanded;
  color: rgb(8, 8, 41);
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  margin-top: 20%;
}

.front-pic {
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    z-index: 3;
    background-color: #000;
    background-color: var(--colorImageOverlay);
    opacity: .1;
    opacity: var(--colorImageOverlayOpacity);
    box-sizing:border-box;
}
.front-pic-text {
  font-size: 80px;
    color: white;
    text-align: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: (0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  bottom: 16px;
}

.cards__item {
  /* width: min-content; */
  float: left;
  width: 25vh;
  /* padding: 0 1px; */
  padding-left: 1vh;
  padding-right: 11vh;
  padding-top: 1vh;
  padding-bottom: 4vh;
  display:block;
  align-items: center;
  position: relative;
    display: flex;
    flex-direction: column; 
}

@media screen and (max-width: 500px) {
  .cards__item {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .product-list {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    justify-content: space-between;
  }
}

.product__card {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0 10px;
  /* padding: 0.5rem; */
  border: black;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.3s;
  border: 50% solid black;
  word-wrap: normal;
  float: left;
  width: 50%
    /* margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: black;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.3s;
  border: 50% solid black;
  word-wrap: normal;
  width: 40%;
  height: 100%;
  align-content: center;
  float: center; */
}

.product__image {
  /* width: 100%; */
  object-fit:inherit;
  /* padding: 50px; */
  margin-left: 15vh;
  border-radius: 12px;
  background: whitesmoke;
  /* padding-left: 1vh; */
  width: 35vh;
  height: 40vh;
}

.product__price {
  font-size: medium;
  margin-left: 30px;
  margin-right: 0px;
  text-decoration: none;
}

.product-list {
  /* text-align: justify; */
  /* -ms-text-justify: distribute-all-lines; */
  /* text-justify: distribute-all-lines; */
  width: 100%;
  display:inline-block;
  /* min-width: 6vh; */
  /* margin: 1px 1px; */
  align-content: center;
  /* margin-right: auto; */
  margin: 2vh;
  /* grid-template-columns: repeat(auto-fit,calc(100% / var(--section-products-per-row) - var(--product-list-column-gap) * (var(--section-products-per-row) - 1) / var(--section-products-per-row)));
    grid-gap: var(--product-list-block-spacing) var(--product-list-column-gap); */
    /* gap: var(--product-list-block-spacing) var(--product-list-column-gap); */
    /* overflow: hidden; */
    /* box-sizing: border-box!important; */
    /* -webkit-font-smoothing: antialiased */
}

.product-list:after {
  content: "";
  display: table;
  clear: both;
}

.card-form-expiration-button {
  width: 100px;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

.cards {
  display: contents;
  flex-wrap: wrap;
  width: auto;
  height: 90%;
  object-fit: cover;
  /* background-color: #999; */
  margin: 0px;
  padding: 10px;
  margin-left: 4%;
  margin-right: 5%;
  justify-content: space-between;
  /* display: inline-block; */
  box-sizing: border-box;
}

.nav-button {
  font-size: 20px;
}

.nav-button,
.book-button {
  display: inline-block;
  gap: 1em;
  padding: 0.3em 1.2em;
  margin: 0.8em 0.8em 0.8em 0.8em;
  border: 0.16em solid transparent;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(8, 8, 41);
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  background-color: transparent;
  /* margin-left: 20%; */
  /* margin-right: 10%; */
  /* margin-inline-end: auto; */
}

.button {
  display: inline-block;
  gap: 1em;
  padding: 0.3em 1.2em;
  margin: 0.8em 0.8em 0.8em 0.8em;
  border: 0.16em solid transparent;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(8, 8, 41);
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-button:hover,
.book-button:hover {
  color: white;
  background-color: rgb(8, 8, 41);
  border-color: rgba(255, 255, 255, 1);
}

#formCss input {
  caret-color: rgb(188, 138, 138);
}

.form-name {
  align-self: center;
  margin-left: 15%;
  margin-bottom: 100px;
  margin-block-end: auto;
}

.no-cart-text {
  align-self: center;
  justify-content: center;
  display: flex;

  /* margin-left: 15%; */
  /* margin-bottom: 100px; */
  /* margin-block-end: auto; */
}

.form-container body {
  margin: 0;
  font-size: large;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  /* display: flex; */
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  /* overflow: hidden; */
  font-family: poppins;
}

.form-container {
  /* font-size: px; */
  position: relative;
  margin-left: auto;
  width: 400px;
  height: 100%;
  margin: 6em 6em 6em 6em;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: beige;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  align-items: center;
  /* align: center; */
}

.create-user-container {
  position: relative;
  width: 350px;
  height: auto;
  margin: 6em 6em 6em 6em;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: beige;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  align-items: center;
}

.brand-title {
  margin-top: 10px;
  align-items: center;
  font-weight: 900;
  font-size: 1.8rem;
  color: black;
  letter-spacing: 1px;
  /* margin-left: 50%; */
  /* margin-right: 50%; */

}

/* Payment Form */
/* .payment-name {
  align-self: center;
  margin-left: 15%;
  margin-bottom: 100px;
  margin-block-end: auto;
} */

/* .payment-form-container body {
  margin: 0;
  font-size: large;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  font-family: poppins;
  text-align: center;
} */
/* display: flex; */
/* overflow: hidden; */

.payment-container {
  position: relative;
  margin-left: auto;
  width: auto;
  height: 100%;
  margin: 6em 6em 6em 6em;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: beige;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  align-items: center;
  display: inline-block;
}

.inputs {
  text-align: left;
  margin-top: 30px;
  width: 100%;
}

label,
input,
button {
  display: block;
  width: auto;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  align-self: center;
  text-decoration: none;
}

label {
  margin-bottom: 4px;
  font-size: 30px;
  text-align: center;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  width: 100%;
}

.form-button {
  color: black;
  margin-top: 20px;
  background: transparent;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  align-content: center;
  /* width: 100%; */
}

.form-button-disabled {
  color: grey;
  margin-top: 20px;
  background: transparent;
  height: 40px;
  border-radius: 20px;
  cursor: default;
  font-weight: 600;
  box-shadow: 1px 1px 1px;
  transition: 0.5s;
  align-content: center;
  /* width: 100%; */
}

button:hover {
  box-shadow: none;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.cart-image {
  width: 100%;
  object-fit: cover;
  padding: 50px;
  margin: 10px;
  border-radius: 15px;
  background: whitesmoke;
  padding: 5px;
  width: 200px;
  height: 200px;
}

.cart-card {
  height: fit-content;
  width: 50px;
  padding: 10px;
  justify-content: space-between;
  margin-right: 100%;
  /* display: contents; */
  /* padding-left: 200px; */
  margin: 20px;
  width: min-content;
}

.cart-card-button {
  color: black;
  margin-top: 20px;
  background: transparent;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  align-content: center;
  width: 700px;
  /* box-sizing: border-box; */
}

.footer {
  background-color: rgb(231, 231, 196);
  /* border-top:2px solid rgb(185, 185, 143); */
  position: sticky;
  width: 100%;
  bottom: 0;
  color: black;
  font-size: calc(10px + 2vmin);
  /* margin-top: 10%; */
}